mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin : auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 10rem;
  margin: 1rem 0;
  margin-top: -5%;
    text-align: right;
}

.image-preview img {
  height: 105%;
  border: 1px solid lightgrey;
}

.image-supporting-formats{
  font-size: x-small;
  color: green;
  margin-left: 15px;
}

.image-suppurting-formats-error{
  font-size: small;
  text-align: center  ;
}
